h2{
         color: crimson;
         background-color: lavenderblush;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         font-size: 35px;
         text-align: center;
      }
      .myclass{
         color: rgb(36, 93, 93);
         text-align: center;
      }
      #myid{
         color: cornflowerblue;
         font-size: 35px;
      }
      #para{
        font-size: 20px;
      }
      .about{
        background-color:  rgb(112, 174, 174);
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 5px;
        padding: 100px;
      }
      .sec{
        color: brown;
        font-size: 20px;
        text-align: center;
      }
      .left{
        text-align: left;
      }
      .right{
        text-align: right;
      }
      .middle{
        text-align: center;
        background-color:  rgb(112, 174, 174);
        margin: 5px;
        padding: 50px;
      }
      
      
